dist: xenial
sudo: false
language: python
cache: pip
python:
  - "3.7"

# command to install dependencies
install:
  - pip install -U pip
  # - pip install -e .

  # dev dependencies
  - pip install -r requirements-dev.txt

script:
  - coverage run --source deepsig/ --omit="*/test*" -m unittest discover deepsig/tests
  - coverage report --skip-covered
  - coveralls

branches:
  only:
    - main