sphinxbootstrap4theme>=0.6.0
sphinxemoji>=0.1.8
m2r>=0.2.1
recommonmark>=0.7.1
numpy>=1.19.5
scipy>=1.6.0
tqdm>=4.59.0
joblib>=1.0.1
pandas>=1.3.3
dill>=0.3.4
psutil>=5.9.0
readme2tex>=0.0.1b2
dill>=0.3.4
mistune==0.8.4
